# Name: ThunderSTORM

# Description:
#  ThunderSTORM: an ImageJ plugin for comprehensive PALM and STORM data analysis and super-resolution imaging

# Authors: Martin Ovesny (martin.ovesny at lf1.cuni.cz), Josef Borkovec (josef.borkovec at lf1.cuni.cz)
# Version: 0.7a
# Date: 2013/3/4
# Requires: ImageJ 1.46r

Plugins>ThunderSTORM>Analysis, "Run analysis", cz.cuni.lf1.lge.ThunderSTORM.AnalysisPlugIn("runAnalysis")
Plugins>ThunderSTORM>Analysis, "Show results table", cz.cuni.lf1.lge.ThunderSTORM.AnalysisPlugIn("showResultsTable")
Plugins>ThunderSTORM>Analysis, "Cylindrical lens calibration", cz.cuni.lf1.lge.ThunderSTORM.CylindricalLensCalibrationPlugin
Plugins>ThunderSTORM, "Camera setup", cz.cuni.lf1.lge.ThunderSTORM.CameraSetupPlugIn
Plugins>ThunderSTORM, "Rendering", cz.cuni.lf1.lge.ThunderSTORM.RenderingPlugIn
#Plugins>ThunderSTORM, "Export results", cz.cuni.lf1.lge.ThunderSTORM.ImportExportPlugIn("export;results")
#Plugins>ThunderSTORM, "Import results", cz.cuni.lf1.lge.ThunderSTORM.ImportExportPlugIn("import;results")
Plugins>ThunderSTORM>Performance testing, "Artificial data generator", cz.cuni.lf1.lge.ThunderSTORM.DataGeneratorPlugIn
Plugins>ThunderSTORM>Performance testing, "Performance evaluation", cz.cuni.lf1.lge.ThunderSTORM.PerformanceEvaluationPlugIn
Plugins>ThunderSTORM>Performance testing, "Show ground-truth table", cz.cuni.lf1.lge.ThunderSTORM.PerformanceEvaluationPlugIn("showGroundTruthTable")
Plugins>ThunderSTORM, "------------------------------", -
Plugins>ThunderSTORM, "Check for updates...", cz.cuni.lf1.lge.ThunderSTORM.UpdaterPlugIn
Plugins>ThunderSTORM, "About ThunderSTORM...", cz.cuni.lf1.lge.ThunderSTORM.AboutPlugIn
