# Name: ThunderSTORM

# Description:
#  TODO

# Authors: Martin Ovesny (martin.ovesny at lf1.cuni.cz), Josef Borkovec (josef.borkovec at lf1.cuni.cz)
# Version: 0.6b
# Date: 2013/3/4
# Requires: ImageJ 1.46r

Plugins>ThunderSTORM>Analysis, "Run analysis", cz.cuni.lf1.lge.ThunderSTORM.AnalysisPlugIn("runAnalysis")
Plugins>ThunderSTORM>Analysis, "Show results table", cz.cuni.lf1.lge.ThunderSTORM.AnalysisPlugIn("showResultsTable")
Plugins>ThunderSTORM, "Rendering", cz.cuni.lf1.lge.ThunderSTORM.RenderingPlugIn
Plugins>ThunderSTORM, "Export results", cz.cuni.lf1.lge.ThunderSTORM.ImportExportPlugIn("export")
Plugins>ThunderSTORM, "Import results", cz.cuni.lf1.lge.ThunderSTORM.ImportExportPlugIn("import")
Plugins>ThunderSTORM, "Cyl lens calibration", cz.cuni.lf1.lge.ThunderSTORM.CylindricalLensCalibrationPlugin
Plugins>ThunderSTORM, "Artificial data generator", cz.cuni.lf1.lge.ThunderSTORM.DataGeneratorPlugIn