# Name: ThunderSTORM

# Description:
#  TODO

# Authors: Martin Ovesny (martin.ovesny at lf1.cuni.cz), Josef Borkovec (josef.borkovec at lf1.cuni.cz)
# Version: 0.6b
# Date: 2013/3/4
# Requires: ImageJ 1.46r

Plugins>ThunderSTORM, "Analysis", cz.cuni.lf1.lge.ThunderSTORM.AnalysisPlugIn
Plugins>ThunderSTORM, "Rendering", cz.cuni.lf1.lge.ThunderSTORM.RenderingPlugIn
Plugins>ThunderSTORM, "Export results", cz.cuni.lf1.lge.ThunderSTORM.ImportExportPlugIn("export")
Plugins>ThunderSTORM, "Import results", cz.cuni.lf1.lge.ThunderSTORM.ImportExportPlugIn("import")